<section class="content-header">
	<h1>IBeacon管理</h1>
	</section>
	<section class="content">
	 <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">IBeacon信息</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding" ng-controller="ibeaconCtrl">
              <table class="table table-hover">
                <tr>
                  <th></th>
                  <th>ibeaconID</th>
                  <th>Maior</th>
                  <th>Minor</th>
                  <th>RSSI</th>
                  <th>POWER</th>
                  <th>BAT</th>
                  <th></th>
                </tr>
                <tr ng-repeat="ibeacon in ibeacons">
                	<td>{{$index+1}}</td>
                	<td><input style="width:100%" ng-model="ibeacon.ibeaconID" readonly class="inactive input{{ibeacon.ibeaconID}}"></td>
<!--                 	<td>{{x.UUID}}</td> -->
<!--                 	<td>{{x.Maior}}</td> -->
                	<td><input style="width:50px" ng-model="ibeacon.Maior" readonly class="inactive input{{ibeacon.ibeaconID}}"></td>
<!--                 	<td>{{x.Minor}}</td> -->
                	<td><input style="width:50px" ng-model="ibeacon.Minor" readonly class="inactive input{{ibeacon.ibeaconID}}"></td>
<!--                 	<td>{{x.RSSI}}</td> -->
                	<td><input ng-model="ibeacon.RSSI" readonly class="inactive input{{ibeacon.ibeaconID}}"></td>
<!--                 	<td>{{x.POWER}}</td> -->
                	<td><input ng-model="ibeacon.POWER" readonly class="inactive input{{ibeacon.ibeaconID}}"></td>
<!--                 	<td>{{x.BAT}}</td> -->
                	<td><input ng-model="ibeacon.BAT" readonly class="inactive input{{ibeacon.ibeaconID}}"></td>
                	<td>
                		<edit class="btn btn-primary" ng-model="ibeacon" ng-show="!isShow">
				        	<span class="glyphicon glyphicon-pencil">编辑</span>
				        </edit>
				        <update class="btn btn-success" ng-show="isShow" ng-model="ibeacon">
				        	<span class="glyphicon glyphicon-pencil">保存</span>
				        </update>
				        <cancel class="btn btn-warning" ng-show="isShow" ng-model="ibeacon">
				        	<span>取消</span>
				        </cancel>
				        <delete class="btn btn-danger" ng-model="ibeacon" ng-show="!isShow">
				        	<span>删除</span>
				        </delete>
                	</td>
                </tr>
                </table>
            </div>
          </div>
        </div>
      </div>
    </section>