<section class="content-header">
	<h1>车辆管理</h1>
	</section>
	<section class="content">
	 <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">车辆信息</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding" ng-controller="carCtrl">
              <table class="table table-hover">
                <tr>
                  <th>序号</th>
                  <th>车架号</th>
                  <th>发动机编号</th>
                  <th>生产日期</th>
                  <th>操作</th>
                </tr>
                <tr ng-repeat="x in cars">
                	<td>{{$index+1}}</td>
                	<td>{{x.carFrameNum}}</td>
                	<td>{{x.motorNum}}</td>
                	<td>{{x.createDate}}</td>
                	<td><button class="btn" ng-click="">
				          <span class="glyphicon glyphicon-pencil"></span>编辑
				        </button>
				    </td>
                </tr>
                </table>
            </div>
          </div>
        </div>
      </div>
    </section>